button {
  padding: 5px 12px;
  border-radius: 8px;
  font-family: inherit;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s ease;
}
.register {
  background: #03686b;
  color: #fff;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.home {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 40px;
  padding: 5px 36px;
  &:hover {
    color: black;
    background: #fff;
  }
}
