@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

body {
  font-family: "Outfit", sans-serif;
  background: #1b1b1b;
  color: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  max-width: 1410px;
  width: 100%;
  margin: 10px auto;
}

.active {
  font-weight: 500;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  background: #fff;
  animation: anim 0.2s ease backwards;
  animation-iteration-count: 15;
  height: 2px;
  width: 100%;
}

.error-p {
  color: red;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: url("../public/images/slider1.jpg");
  background-size: cover;
  background-position: center;
  margin: -70px 0 70px;
  height: 600px;
  h2 {
    font-size: 28px;
    text-transform: uppercase;
  }
  .section-header_content {
    width: 100%;
    height: 100%;
    background: #0000007a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(570px, auto));
  gap: 40px 80px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.container {
  .swiper-slide {
    max-width: 580px !important;
    width: 580px;
  }
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 120px;
  position: relative;
  height: 600px;
  color: #fff;
  width: 1440px;
  img {
    position: absolute;
    width: 100vw;
    height: 170%;
    left: -120px;
    object-fit: cover;
  }
  h2,
  p {
    z-index: 100;
  }
  h2 {
    font-size: 70px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.catalog-section {
  .swiper-slide {
    width: 40px;
    height: 200px;
    img {
      object-fit: cover;
      width: 90px;
      height: auto;
      position: static;
      left: 0;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin: 0 20px;
    &:after {
      color: #000;
    }
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #111111;
  z-index: 1000;
}
.swiper-pagination-bullet {
  background: orange;
  padding: 7px;
  margin-right: 10px;
  border: 2px solid #fff;
  margin-top: 270px;
}

.p_month {
  display: flex;
  justify-content: center;
  background: #00000098;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.active_month {
  background: yellowgreen;
}

.hidden {
  transform: scale(0);
  visibility: hidden;
  transition: 0.3s ease;
}

.show {
  transform: scale(1);
  visibility: visible;
  transition: 0.3s ease;
}

@media (max-width: 1230px) {
  .mob-hide {
    display: none !important;
  }
  .cards {
    grid-template-columns: auto !important;
    .card {
      align-items: center !important;
      display: flex;
    }
  }
  .desk-hide {
    display: block !important;
  }

  .section-header {
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }

  .menu-show {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    backdrop-filter: blur(20px);
    width: 100vw;
    height: 100vh;
    gap: 20px;
    top: 0;
    left: 0;
    padding: 35px 20px;
    ul {
      flex-direction: column;
    }
    label {
      justify-content: space-between;
    }
  }

  .icon-absolute {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
}

.desk-hide {
  display: none;
}
.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  ul {
    align-items: center;
    display: flex;
  }
}
