.container {
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 70px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    gap: 30px;
  }
  h1 {
    font-size: 172px;
  }
}
